# Environment variables for Turso database
TURSO_DATABASE_URL=libsql://your-db.turso.io
TURSO_AUTH_TOKEN=your_turso_auth_token

# REDIS
REDIS_URL=redis://default:password@host:port

# STORAGE
SUPABASE_STORAGE_BUCKET=your_bucket_name
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=your_supabase_publishable_key
SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key


# APP
BETTER_AUTH_SECRET=generate_with_openssl_rand_hex_32

NEXT_PUBLIC_APP_URL=http://localhost:3000
BETTER_AUTH_URL=http://localhost:3000

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# OpenRouter API Key
OPENROUTER_API_KEY=your_openrouter_api_key

# PortalPulsa API Configuration
PORTALPULSA_MEMBER_ID=your_member_id
PORTALPULSA_SECRET=your_portalpulsa_secret
PORTALPULSA_API_KEY=your_portalpulsa_api_key
PORTALPULSA_BASE_URL=https://portalpulsa.com/api/v2
# Set ke "true" untuk bypass real API call saat development
PORTALPULSA_MOCK=false

# API Games
APIGAMES_BASE_URL=https://v1.apigames.id
MerchantID=your_merchant_id
APIGAMES_API_KEY=your_apigames_api_key
APIGAMES_TIMEOUT_MS=10000
APIGAMES_MAX_RETRY=3
APIGAMES_MOCK=false

# Mayar Payment
MAYAR_BASE_URL=https://api.mayar.id/hl/v1
MAYAR_USE_MOCK=false
MAYAR_API_KEY=your_mayar_api_key
MAYAR_WEBHOOK_TOKEN=your_mayar_webhook_token

# Koneksi ke MikroTik via Jalur VPN PPTP
MIKROTIK_HOST=192.168.x.x
MIKROTIK_PORT=8728
MIKROTIK_USER=your_mikrotik_user
MIKROTIK_PASS=your_mikrotik_password
